[Unit]
Description=Pull for new config files via ansible-pull
After=network-online.target
Wants=network-online.target

[Service]
User=sysadmin
Type=oneshot
WorkingDirectory=/home/sysadmin
ExecStart= /usr/bin/ansible-pull -U https://github.com/bhewer/ansible.git 
RemainAfterExit=true
ExecStop=
StandardOutput=journal

[Install]
WantedBy=multi-user.target
