[Unit]
Description=pull for new config at shutdown
After=network-online.target
Wants=network-online.target

[Service]
User=sysadmin
Type=oneshot
WorkingDirectory=/home/sysadmin
ExecStart=/bin/true
RemainAfterExit=true
ExecStop=/usr/bin/ansible-pull -U https://github.com/bhewer/ansible.git -i hosts
KillMode=none
SendSIGKILL=no
TimeoutSec=25min
TimeoutStopSec=25min
StandardOutput=journal

[Install]
WantedBy=multi-user.target
