[Unit]
Description=pull for new config at shutdown
After=network-online.target
Wants=network-online.target
Before=shutdown.target reboot.target halt.target

[Service]
User=sysadmin
Type=oneshot
WorkingDirectory=/home/sysadmin
ExecStart=/bin/true
RemainAfterExit=true
ExecStop=/usr/bin/ansible-pull -U https://github.com/bhewer/ansible.git -i hosts
StandardOutput=journal

[Install]
WantedBy=final.target
