[Desktop Entry]
Exec=sh -c "x2goclient --hide --session-conf\=/usr/share/x2goclient/sessions --user\=\$USER --sessionid\=20191002112254825"
Icon=/usr/share/icons/maple.png
Name=Maple-gemini
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
