[Desktop Entry]
Exec=sh -c "x2goclient --hide --session-conf\=/usr/share/x2goclient/sessions --user\=\$USER --sessionid\=20191002112254824"
Icon=/usr/share/icons/matlab.png
Name=Matlab-{{ group_server }}
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
