[Desktop Entry]
Exec=sh -c '/usr/bin/start remote {{ group_server }} "matlab -desktop"'
Icon=/usr/share/icons/matlab.png
Name=Matlab-d9
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
