[20191002112254824]
applications=matlab -desktop, WWWBROWSER, MAILCLIENT, OFFICE, TERMINAL, matlab
autologin=false
clipboard=both
command=matlab -desktop
defsndport=true
directrdp=false
directrdpsettings=
directxdmcp=false
directxdmcpsettings=
display=1
dpi=94
export=
fstunnel=true
fullscreen=false
height=1024
host={{ group_server }}
icon=:/img/icons/128x128/x2gosession.png
iconvfrom=ISO8859-1
iconvto=UTF-8
key=
krbdelegation=false
krblogin=false
maxdim=false
multidisp=false
name=Matlab-d9
pack=16m-jpeg
print=true
published=false
quality=9
rdpclient=rdesktop
rdpoptions=
rdpport=3389
rdpserver=
rootless=true
setdpi=true
sndport=4713
sound=true
soundsystem=pulse
soundtunnel=true
speed=4
sshport=22
sshproxyautologin=false
sshproxyhost=
sshproxykeyfile=
sshproxykrblogin=false
sshproxyport=22
sshproxysamepass=false
sshproxysameuser=false
sshproxytype=SSH
sshproxyuser=
startsoundsystem=true
type=auto
useiconv=false
usekbd=true
user=
usesshproxy=false
width=1280
xdmcpclient=Xnest
xdmcpserver=localhost
xinerama=false


[20191002112254825]
applications=xmaple2017, WWWBROWSER, MAILCLIENT, OFFICE, TERMINAL, matlab
autologin=false
clipboard=both
command=xmaple2017
defsndport=true
directrdp=false
directrdpsettings=
directxdmcp=false
directxdmcpsettings=
display=1
dpi=94
export=
fstunnel=true
fullscreen=false
height=1024
host=gemini
icon=:/img/icons/128x128/x2gosession.png
iconvfrom=ISO8859-1
iconvto=UTF-8
key=
krbdelegation=false
krblogin=false
maxdim=false
multidisp=false
name=Maple-gemini
pack=16m-jpeg
print=true
published=false
quality=9
rdpclient=rdesktop
rdpoptions=
rdpport=3389
rdpserver=
rootless=true
setdpi=true
sndport=4713
sound=true
soundsystem=pulse
soundtunnel=true
speed=4
sshport=22
sshproxyautologin=true
sshproxyhost=
sshproxykeyfile=
sshproxykrblogin=false
sshproxyport=22
sshproxysamepass=false
sshproxysameuser=true
sshproxytype=SSH
sshproxyuser=
startsoundsystem=true
type=auto
useiconv=false
usekbd=true
user=
usesshproxy=false
width=1280
xdmcpclient=Xnest
xdmcpserver=localhost
xinerama=false

[20191002112254826]
applications=inkscape, WWWBROWSER, MAILCLIENT, OFFICE, TERMINAL, matlab
autologin=false
clipboard=both
command=inkscape
defsndport=true
directrdp=false
directrdpsettings=
directxdmcp=false
directxdmcpsettings=
display=1
dpi=94
export=
fstunnel=true
fullscreen=false
height=1024
host={{ group_server }}
icon=:/img/icons/128x128/x2gosession.png
iconvfrom=ISO8859-1
iconvto=UTF-8
key=
krbdelegation=false
krblogin=false
maxdim=false
multidisp=false
name=inkscape-d9
pack=16m-jpeg
print=true
published=false
quality=9
rdpclient=rdesktop
rdpoptions=
rdpport=3389
rdpserver=
rootless=true
setdpi=true
sndport=4713
sound=true
soundsystem=pulse
soundtunnel=true
speed=4
sshport=22
sshproxyautologin=false
sshproxyhost=
sshproxykeyfile=
sshproxykrblogin=false
sshproxyport=22
sshproxysamepass=false
sshproxysameuser=false
sshproxytype=SSH
sshproxyuser=
startsoundsystem=true
type=auto
useiconv=false
usekbd=true
user=
usesshproxy=false
width=1280
xdmcpclient=Xnest
xdmcpserver=localhost
xinerama=false

[20191002112254827]
applications=handbrake-gtk, WWWBROWSER, MAILCLIENT, OFFICE, TERMINAL, matlab
autologin=false
clipboard=both
command=handbrake-gtk
defsndport=true
directrdp=false
directrdpsettings=
directxdmcp=false
directxdmcpsettings=
display=1
dpi=94
export=
fstunnel=true
fullscreen=false
height=1024
host={{ group_server }}
icon=:/img/icons/128x128/x2gosession.png
iconvfrom=ISO8859-1
iconvto=UTF-8
key=
krbdelegation=false
krblogin=false
maxdim=false
multidisp=false
name=handbrake-d9
pack=16m-jpeg
print=true
published=false
quality=9
rdpclient=rdesktop
rdpoptions=
rdpport=3389
rdpserver=
rootless=true
setdpi=true
sndport=4713
sound=true
soundsystem=pulse
soundtunnel=true
speed=4
sshport=22
sshproxyautologin=false
sshproxyhost=
sshproxykeyfile=
sshproxykrblogin=false
sshproxyport=22
sshproxysamepass=false
sshproxysameuser=false
sshproxytype=SSH
sshproxyuser=
startsoundsystem=true
type=auto
useiconv=false
usekbd=true
user=
usesshproxy=false
width=1280
xdmcpclient=Xnest
xdmcpserver=localhost
xinerama=false
